/* nothing yet */

.color-white {
    color: white;
}

.animate5s {
    -vendor-animation-duration: 5s;
    -vendor-animation-delay: 3s;
    -vendor-animation-iteration-count: infinite;
}

.user-position {
    position: absolute;
    left: 55px;
    top: 30px;
    display: block;
    font-weight: 800;
}

.user-name {

}

.chats .message {
    font-size: 18px;
}

li.chat-line {
    transition: opacity 0.9s ease;
    opacity: 1;
}

li.v-enter, li.v-leave {
    opacity: 0;
}
