/* nothing yet */

.color-white {
    color: white;
}

.animate5s {
    -vendor-animation-duration: 5s;
    -vendor-animation-delay: 3s;
    -vendor-animation-iteration-count: infinite;
}

.user-position {
    position: absolute;
    left: 55px;
    top: 30px;
    display: block;
    font-weight: 800;
}

.user-name {

}
